form {
  border-radius: 3px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
}
body {
  padding: 150px;
  color: #272044;
  background-image: url(https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

.weather-temp-icon strong {
  color: rgb(19, 38, 82);
  font-size: 28px;
  line-height: 1px;
  font-weight: 400;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.container {
  background-color: rgba(216, 205, 213, 0.781);
  border-radius: 10px;
  padding: 35px;
  max-width: 100%;
  margin: 30px auto;
}
.weather-temp-icon img {
  margin-right: 11px;
  float: left;
  height: 75px;
  width: 64px;
}
.weather-icon {
  height: 60px;
  width: 60px;
}
.weather-forecast-container {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.date {
  opacity: 0.7;
}
.daily-weather-forecast {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #272044;
  opacity: 0.7;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}
.weather-forecast-temp-low {
  opacity: 0.5;
}
.weekday-forecast {
  background-color: #fff;
  border-radius: 10px;
  padding: 0%;
}
.daily-weather-temperature {
  padding-top: 10px;
  padding-bottom: 10px;
}
.weather-temp-icon .active {
  color: rgb(85, 82, 82);
  cursor: default;
  text-decoration: none;
}
.weather-temp-icon .active:hover {
  text-decoration: none;
}
.weather-forecast-description {
  text-transform: capitalize;
  font-size: 10px;
  font-family: "Poppins", sans-serif;s
}
small {
  opacity: 0.7;
}
button {
  color: #fff;
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 8px;
  background: #a5a0a1;
  margin: 0.8em;
  transition: 200ms ease-in-out;
}
button:hover {
  background-color: #85adc5;
  color: white;
}
input.search-bar {
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 10px;
}

input.submit-bar {
  color: #fff;
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 10px;
  background: #e77e95;
  margin: 0.8em;
}
p:first-letter {
  text-transform: capitalize;
}
li:first-letter {
  text-transform: capitalize;
}


#temperature-description,
#humidity,
#wind {
  opacity: 0.7;
}
#city {
  font-size: 30px;
  line-height: 24px;
}
#fahrenheit-link,
#celsius-link {
  text-decoration: none;
  padding-top: 2px;
}
#date-updated {
  opacity: 0.7;
}

ul {
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}
